.DS_Store
/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
secrets.txt
website/static/images/delete
website/static/images/dessert
website/static/images/drink
website/static/images/none
website/static/images/sandwich
website/static/images/seafood
website/static/test
etl-node/node_modules
__pycache__
machine-learning/data/
website/static/images
website/static/web_model/
